body
{
background-color: rgb(5, 0, 22);
color: rgb(236, 229, 229);
}
p 
{
background-color: rgba(255, 100, 95, 0.712);
padding: 20px 10px 20px 10px;
color: rgba(246, 255, 251, 0.61);
border-radius: 15px;
}
button
{
    padding:5px 10px;
    font-size:10px;
  margin-left: 20px;
    border-radius: 5px;
}
a
{
color: rgba(176, 246, 255, 0.712);
font-style:italic;
font-weight:600;
}
li{
    color: rgba(169, 255, 251, 0.781);
}
h1{
    text-align: center;
    text-decoration: underline;
    color: rgba(223, 66, 27, 0.925);
}
h2{
    color: rgba(212, 238, 255, 0.884);
}
form
{
    color: rgb(137, 179, 179);
}
img
{
    margin-left:33%;
    
}